@model List<Model.Model.ListCourse>
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int n = ViewBag.Num;
}


<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead class="">
                <tr class="" style="background-color: #6b90da;">
                    <th style="text-align:center">NO</th>
                    <th>Date</th>
                    <th style="text-align:center">Slot</th>
                    <th style="text-align:center">Room</th>
                    <th>Instructor</th>
                    <th>Group Name</th>
                    <th style="text-align:center">Attedance Status</th>
                    <th>Lecturer's Comment</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var name = Model[i].FirstName + Model[i].NameInstructor.Substring(0, 1) + Model[i].MidName.Substring(0, 1);
                    var no = i + 1;
                    <tr>
                        <td style="text-align:center">@no</td>
                        <td>@Model[i].Date.Value.DayOfWeek - @Model[i].Date.Value.ToString("dd/MM/yyyy")</td>
                        <td style="text-align:center">@Model[i].Slot</td>
                        <td style="text-align:center">@Model[i].Room</td>
                        <td>@name</td>
                        <td>@Model[i].CodeSubject - @Model[i].CodeCourse</td>
                        @if (Model[i].IsStatus.Equals(true))
                        {
                            <td style="color:red ;text-align:center">Absent</td>
                        }
                        else
                        {
                            <td style="color: green; text-align: center">Present</td>
                        }
                        <td>@Model[i].Comment</td>
                    </tr>
                }
            </tbody>
        </table>

        <p style="font-size:18px; font-weight:700"> ABSENT: @ViewBag.Num % ABSENT SO FAR(@ViewBag.b ABSENT ON @ViewBag.a TOTAL)</p>

    </div>
</div>
<hr />




